#main-bio {background-color: orchid;}

#contact-info {font-style: italic;}

#bio-image {box-shadow: 10px 5px 5px red;}

.body {background-color: #efeee7;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #333333;
        }

.header {background-color: #333333;}

.h1 {color: #eee;
    font-size: 28px;
    }

.h2 {color: }